<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Grand Savero Hotel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="visitpage2/visit2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <body>
    
    <div class = "card-wrapper">
      <div class = "card">
        <!-- card left -->
        <div class = "product-imgs">
          <div class = "img-display">
            <div class = "img-showcase">
              <img src = "/gambar/gambar venue paket/paket2/venue2-1.jpg" alt = "shoe image">
              <img src = "/gambar/gambar venue paket/paket2/venue2-2.jpeg" alt = "shoe image">
              <img src = "/gambar/gambar venue paket/paket2/venue2-3.jpg" alt = "shoe image">
              <img src = "/gambar/gambar venue paket/paket2/venue2-4.jpg" alt = "shoe image">
            </div>
          </div>
          <div class = "img-select">
            <div class = "img-item">
              <a href = "#" data-id = "1">
                <img src = "/gambar/gambar venue paket/paket2/venue2-1.jpg" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "2">
                <img src = "/gambar/gambar venue paket/paket2/venue2-2.jpeg" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "3">
                <img src = "/gambar/gambar venue paket/paket2/venue2-3.jpg" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "4">
                <img src = "/gambar/gambar venue paket/paket2/venue2-4.jpg" alt = "shoe image">
              </a>
            </div>
          </div>
        </div>
        <!-- card right -->
        <div class = "product-content">
          <h2 class = "product-title">Grand Savero Hotel</h2>
          <div class = "product-rating">
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
          </div>

          <div class = "product-price">
            <p class = "price">New Price: <span>$11,870</span></p>
            <p class = "capacity">Capacity: <span>1500pax</span></p>
          </div>

          <div class = "product-detail">
            <h2>about this venue: </h2>
            <p>Kami siap melayani Anda mulai dengan menyiapkan acara Anda dan memanjakan Anda dan keluarga Anda dengan mewah dan elegan</p>
            <li>Pencicipan makanan gratis untuk 6 orang dengan item menu prasmanan pilihan Anda setelah pembayaran 50%.</li>
            <li>1 (Satu) Kamar Deluxe untuk satu malam termasuk sarapan untuk 2 (dua) orang dengan Dekorasi Kelopak Mawar di Bridal Suite Anda</li>
            <li>1 (Satu) Kamar Superior untuk satu malam termasuk sarapan untuk 2 (dua) orang</li>
            <li>Tarif Kamar Spesial untuk perpanjangan dan penambahan kamar terkait acara</p></li>
            <ul>
              <li>FOTO & VIDEOGRAFI di hari pernikahan Anda</li>
              <li>Pilihan minuman ringan atau jus dingin berdasarkan pesanan prasmanan</li>
              <li>Air mancur gelas sampanye</li>
              <li>Gratis Proyektor & Layar LCD dan Parkir valet gratis</li>
              <li>2 (dua) buku resepsi tanda tangan tamu dengan 2 spidol kecil</li>
            </ul>
          </div>
          <a href = "/home" class = "product-link">back to Marmoris?</a>

          
        </div>
      </div>
    </div>

    
    <script src="visitpage2/visit2.js"></script>
  </body>
</html>